:root {
    /*Colores de mi Web Site*/
    --principal: #9E9E9E;
    --blanco: #ffff;
    --grisclaro: #ECEFF1;
    --grisoscuro: #5D6D7E;
    --cafe: #795548;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(#05e2ff) 100%);
    font-family: "New Amsterdam", sans-serif;
    font-weight: none;
}

/*Definimos unas reglas tipograficas para h1,h3,h2*/
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2.4rem;
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
p{
    width: 50rem;
}
/*Global*/
.Griya-contenedor_estilo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Griya-imagenes{
    width: 30rem;
    border-radius: 5rem;
    border: solid var(--principal) .4rem;
}
.negrita{
    color: var(--cafe);
}
.ajustar-texto{
    font-weight: no;
}
/*Header*/
.titulo {
    font-size: 2rem;
    position: fixed;
    /*para que la posicion dependa de la ventana*/
    width: 100%;
    height: 3rem;
    left: 0;
    top: 0;
    background-color: var(--blanco);
}

/*Contenedor encabezado*/
.contenedor-encabezado {
    width: 100%;
    height: 8rem;
    margin-top: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--principal);
}

.contenedor-encabezado-contenido {
    max-width: 992px;
    /*Available Breakpoints:
    Estos breakpoints se basan principalmente en anchos mínimos de viewports
    y nos permiten aumentar la escala de los elementos a medida que cambia la ventana gráfica.*/
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.navegacion {
    /*ver como acomodar para que no se me meuevan los elemenots con la transicion de la barra de navegacion*/
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navegacion a:hover{
    background-color: var(--grisoscuro);
    transform: scale(1.5);
    transition: .3s;
}

.navegacion a {
    margin-right: 4rem;
    font-size: 1.8rem;
    color: var(--blanco);
    font-weight: bold;
    padding: 1rem;
    border-radius: 3rem;
}

.logo {
    width: 7rem;
    border-radius: 5rem;
}

.checkbtn {
    font-size: 3rem;
    color: var(--blanco);
    display: none;
    margin-right: 1rem;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 520px) {
    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        background-color: var(--grisoscuro);
        top: 11rem;
        left: -100%;
        transition: 0.5s;
        width: 100%;
        height: 50%;
    }

    .checkbtn {
        display: block;
    }

    #check:checked~.navegacion {
        left: 0;
    }
}

/*Main*/
.contenedor-main {
    max-width: 120rem;
    /*el max-width es para que tome como valor maximo el que le pasamos, caso contrario tome el 100%*/
    margin: 0 auto;
}

.sombra-main {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
    background-color: var(--blanco);
    border-radius: 3rem;
    padding: 2rem;
}

/*Section Foto de perfil*/

.introduccion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 3rem;
    width: 100%;
}

.fotomia {
    width: 30rem;
    border: solid black;
    border-radius: 50rem;
    margin-right: 5rem;
    margin-left: 10rem;
}

.pequeñaDescripcion {
    font-size: 2.4rem;
    width: 50%;
    text-transform: uppercase;
    text-align: justify;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .introduccion {
        flex-direction: column;
    }

    .fotomia {
        margin: auto;
        margin-bottom: 2rem;

    }
}

/*Sobre mi*/
.titulo-sobremi {
    margin-top: 10rem;
    grid-area: sobreMi;
}

.sobremi {
    display: grid;
    grid-template-areas: 
    "sobreMi sobreMi"
    "misProyectos misPasiones"
    "misEstudios misConocimientos"
    ;
    gap: 3rem;
}

@media (max-width: 768px) {
    .sobremi {
        grid-template-areas:
        "sobreMi"
        "misProyectos"
        "misPasiones"
        "misEstudios"
        "misConocimientos";
    }
    
}

/*Mis proyectos*/
.MisProyectos {
    grid-area: misProyectos;
}

.proyecto {
    width: 30rem;
    border: solid black;
}

.sobremi-misproyectos_lista{
    display: flex;
    width: 100%;
}
.sobremi-misproyectos_lista ul{
    margin-left: 1rem;
}
/*Mis Pasiones*/
.MisPasiones{
    grid-area: misPasiones;
}
.Mispasiones-imagen{
    width: 30rem;
}

/*MisEstudios*/
.misEstudios{
    grid-area: misEstudios;
}
/*Mis conocimentos*/
.misConocimientos{
    grid-area: misConocimientos;
}
/*Redes sociales*/
.RedesSociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
}
.RedesSociales-contenedor{
    width: 50rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}
.iconos{
    width: 8rem;
}
@media (max-width: 400px){
    .RedesSociales-contenedor{
        justify-content: center;
    }
    .iconos:nth-child(1),.iconos:nth-child(2){ /*Seleccionamos los elementos que queremos aplicarles los estilos*/
        margin-right: 2rem;
    }
}